# Operating System
.DS_Store
Thumbs.db
desktop.ini

# Editors & IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.tmp
.venv/
venv/
ENV/
env/

# Logs & temp files
*.log
